<?xml version="1.0" encoding="utf-8"?>
<root>
  <resheader name="resmimetype">
    <value>text/microsoft-resx</value>
  </resheader>
  <resheader name="version">
    <value>2.0</value>
  </resheader>
  <resheader name="reader">
    <value>System.Resources.ResXResourceReader, System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</value>
  </resheader>
  <resheader name="writer">
    <value>System.Resources.ResXResourceWriter, System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</value>
  </resheader>
  <data name="{{name}}" xml:space="preserve">
    <value>{{displayNameXml}}</value>
  </data>
  <data name="{{name}}_Description" xml:space="preserve">
    <value>{{descriptionXml}}</value>
  </data>
  <data name="EntityId_Display_Key" xml:space="preserve">
    <value>Entity Id</value>
  </data>
  <data name="EntityId_Desc_Key" xml:space="preserve">
    <value>The current record id. Bind this to the table primary key column.</value>
  </data>
  <data name="EntityName_Display_Key" xml:space="preserve">
    <value>Entity Name</value>
  </data>
  <data name="EntityName_Desc_Key" xml:space="preserve">
    <value>The current table logical name.</value>
  </data>
  <data name="FetchXmlTemplate_Display_Key" xml:space="preserve">
    <value>FetchXML template</value>
  </data>
  <data name="FetchXmlTemplate_Desc_Key" xml:space="preserve">
    <value>FetchXML that contains a {recordId} token.</value>
  </data>
  <data name="PageSize_Display_Key" xml:space="preserve">
    <value>Page size</value>
  </data>
  <data name="PageSize_Desc_Key" xml:space="preserve">
    <value>The number of rows to request per page.</value>
  </data>
  <data name="ContextualGrid_Caption" xml:space="preserve">
    <value>Related rows</value>
  </data>
  <data name="ContextualGrid_Loading" xml:space="preserve">
    <value>Loading related rows...</value>
  </data>
  <data name="ContextualGrid_Unsaved" xml:space="preserve">
    <value>Save this {0} record before related rows can be shown.</value>
  </data>
  <data name="ContextualGrid_Configure" xml:space="preserve">
    <value>Configure entityId, entityName and FetchXML before using this grid.</value>
  </data>
  <data name="ContextualGrid_Permission" xml:space="preserve">
    <value>You do not have permission to read this contextual grid configuration.</value>
  </data>
  <data name="ContextualGrid_InvalidRecord" xml:space="preserve">
    <value>The current record id is not a valid GUID.</value>
  </data>
  <data name="ContextualGrid_MissingToken" xml:space="preserve">
    <value>FetchXML must contain the {recordId} token.</value>
  </data>
  <data name="ContextualGrid_Empty" xml:space="preserve">
    <value>No related rows were found.</value>
  </data>
  <data name="ContextualGrid_Error" xml:space="preserve">
    <value>Unable to load related rows.</value>
  </data>
  <data name="ContextualGrid_LoadMore" xml:space="preserve">
    <value>Load more rows</value>
  </data>
</root>