"use strict";

module.exports = {
  clearMocks: true,
  testEnvironment: "jsdom",
  testMatch: ["<rootDir>/__tests__/**/*.test.ts"],
  moduleNameMapper: {
    "\\.(css|scss)$": "<rootDir>/test/styleMock.js",
  },
  setupFiles: ["<rootDir>/test/jest-setup.js"],
  transform: {
    "^.+\\.tsx?$": ["ts-jest", { tsconfig: "tsconfig.test.json" }],
  },
};
