<?xml version="1.0" encoding="utf-8"?>
<root>
  <resheader name="resmimetype">
    <value>text/microsoft-resx</value>
  </resheader>
  <resheader name="version">
    <value>2.0</value>
  </resheader>
  <resheader name="reader">
    <value>System.Resources.ResXResourceReader, System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</value>
  </resheader>
  <resheader name="writer">
    <value>System.Resources.ResXResourceWriter, System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</value>
  </resheader>
  <data name="{{name}}" xml:space="preserve">
    <value>{{displayNameXml}}</value>
  </data>
  <data name="{{name}}_Description" xml:space="preserve">
    <value>{{descriptionXml}}</value>
  </data>
  <data name="Value_Display_Key" xml:space="preserve">
    <value>Host value</value>
  </data>
  <data name="Value_Desc_Key" xml:space="preserve">
    <value>A text column used to host this field control.</value>
  </data>
  <data name="EntityId_Display_Key" xml:space="preserve">
    <value>Current record id</value>
  </data>
  <data name="EntityId_Desc_Key" xml:space="preserve">
    <value>Bind to the table primary key column so the control can refuse unsaved records.</value>
  </data>
  <data name="EntityName_Display_Key" xml:space="preserve">
    <value>Parent table logical name</value>
  </data>
  <data name="EntityName_Desc_Key" xml:space="preserve">
    <value>The logical name of the table that owns the current record.</value>
  </data>
  <data name="ParentEntitySetName_Display_Key" xml:space="preserve">
    <value>Parent entity set name</value>
  </data>
  <data name="ParentEntitySetName_Desc_Key" xml:space="preserve">
    <value>The Web API entity set name for the current record table, such as accounts.</value>
  </data>
  <data name="ParentNavigationProperty_Display_Key" xml:space="preserve">
    <value>Annotation navigation property</value>
  </data>
  <data name="ParentNavigationProperty_Desc_Key" xml:space="preserve">
    <value>The configured annotation lookup navigation property, such as objectid_account.</value>
  </data>
  <data name="MaxFileSizeKb_Display_Key" xml:space="preserve">
    <value>Maximum file size (KB)</value>
  </data>
  <data name="MaxFileSizeKb_Desc_Key" xml:space="preserve">
    <value>Maximum upload size in KB. Defaults to 1024 and is clamped from 1 to 5120.</value>
  </data>
  <data name="AcceptedMimeTypes_Display_Key" xml:space="preserve">
    <value>Accepted MIME types</value>
  </data>
  <data name="AcceptedMimeTypes_Desc_Key" xml:space="preserve">
    <value>Optional comma-separated MIME allowlist, such as text/plain,application/pdf.</value>
  </data>
  <data name="AttachmentUploader_Label" xml:space="preserve">
    <value>Attachment upload</value>
  </data>
  <data name="AttachmentUploader_Button" xml:space="preserve">
    <value>Choose file</value>
  </data>
  <data name="AttachmentUploader_Unsaved" xml:space="preserve">
    <value>Save this record before uploading attachments.</value>
  </data>
  <data name="AttachmentUploader_PermissionDenied" xml:space="preserve">
    <value>You do not have permission to use attachments here.</value>
  </data>
  <data name="AttachmentUploader_ConfigMissing" xml:space="preserve">
    <value>Attachment uploader is not fully configured.</value>
  </data>
  <data name="AttachmentUploader_FileTooLarge" xml:space="preserve">
    <value>The selected file is larger than {0} KB.</value>
  </data>
  <data name="AttachmentUploader_TypeNotAllowed" xml:space="preserve">
    <value>This file type is not allowed.</value>
  </data>
  <data name="AttachmentUploader_Uploading" xml:space="preserve">
    <value>Uploading attachment...</value>
  </data>
  <data name="AttachmentUploader_Success" xml:space="preserve">
    <value>Attachment uploaded.</value>
  </data>
  <data name="AttachmentUploader_Error" xml:space="preserve">
    <value>Attachment upload failed: {0}</value>
  </data>
</root>

