.{{cssClass}} {
  display: contents;
}

.{{nameLower}}-text-renderer {
  box-sizing: border-box;
  display: block;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.{{nameLower}}-text-editor {
  box-sizing: border-box;
  width: 100%;
  min-height: 2rem;
  border: 1px solid #605e5c;
  border-radius: 2px;
  padding: 0.25rem 0.5rem;
  font: inherit;
}
